<div class="container" >
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form name="fahrplan" role="form" data-ng-submit="fahrplanSuche(query)">
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label for="start_haltestelle">Start Haltestelle</label>
                        <select data-ng-model="query.haltestelle" class="form-control">
                            <option ng-repeat="haltestelle in haltestellen">{{haltestelle}}</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-4">
                        <label for="start_fahrzeit">Start Fahrzeit</label>
                        <input type="time" name="start_fahrzeit" placeholder="HH:mm" min="06:00" max="23:00" data-ng-model="query.start_fahrzeit" class="form-control" id="start_fahrzeit" />
                    </div>
                    <div class="form-group col-lg-1 col-md-1 col-sm-1 col-xs-2">
                        <label> </label>
                        <button type="submit" class="btn btn-success form-control btn-block" value="Suchen"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel-group col-lg-12" id="accordion">
            <div class="panel panel-default" data-ng-repeat="linie in abfahrtszeiten">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{linie.linie}}
                    </h3>
                </div>
                <div class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            <li data-ng-repeat="zeiten in linie.zeiten | filter: timeFilter">{{zeiten}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel-group col-lg-12" >
            <div class="panel panel-default" data-ng-repeat="haltestelle in fahrtzeiten">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{haltestelle.linie}}
                    </h3>
                </div>
                <div class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Haltestelle</th>
                                <th>Zeit bis Haltestelle</th>
                            </tr>
                            <tr data-ng-repeat="halt in haltestelle.haltestellen">
                                <td>{{halt.name}}</td>
                                <td>{{halt.fahrtzeit}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>